@charset "Utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em; /*1em = 16 pixels* ou fonte 12*/
	font-weight: 400;
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTk1cPB5t142bG4asamNEANec8HATfh0lzVVg&usqp=CAU);
	}
	
h1{
	color: rgb(0, 255, 0);
}

.Botao1{
	
	text-decoration: none;/*remove o estilo do link*/
	background-color: #66bbff;
	padding: 5px 10px 5px 10px; /*cria um espaçamento interno (encima-direita-embaixo-esquerda)*/
	color: #fff; /*muda a cor da fonte*/
	font-size: 1.2em; /*aumento de 20% do tamanho da fonte*/
	font-weight: 700;
	border-radius: 5px;/*borda arrendondada*/
	border: 0;
	cursor: pointer;		
}

.Caixa1{
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid rgb(0, 255, 0);
	border-radius: 5px;
}

.Caixa2{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid rgb(0, 255, 0);
	border-radius: 5px;
}
	
